.topspacing{
    margin-top: 50px;
}

.textbody{
    font-size: larger;
    line-height: 50px;
}


.panel-title a {
    margin-top: -5px;
}

.hrLoginUp
{
    position:relative;
    border-top:2px solid #afc0dc;
//margin-top: 5px;
    left:-10px;
//right:-10px;
    width :248px;
    top:40px;
}
.hrLoginDown
{
    position:relative;
    border-top:2px solid #afc0dc;
//margin-top: 5px;
    left:-10px;
//right:-10px;
    width :248px;
    top:-120px;
}
